body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.create-task {
  display: flex;
  justify-content: center;
  margin: 25px 0;
  line-height: 1.5rem;
  .create-task__task-title {
    display: flex;
    font-size: 1.5rem;
  }
  .create-task__create-button {
    display: flex;
    font-size: 1.5rem;
  }
}

.filters {
  display: flex;
  justify-content: space-evenly;
  width: 17%;
  font-size: 2rem;
  margin: 0 0 20px;

  .filters__filter-button {
    display: flex;
    // margin-right: 10px;
    font-size: 1.5rem;
  }
}

.task-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;

  font-size: 1.5rem;
  .task-list__task {
    display: flex;
    text-align: center;
    font-size: 1.5rem;
    margin: 10px 0;
    border: 1px solid #666;
  }
  .task-title {
    display: flex;
    margin: 0;
    font-size: 1.5rem;
  }
  .task-status {
    display: flex;
    font-size: 1.5rem;
  }
  .task-delete-button {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
  }
}
